<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Restaurant Heatmap</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
  <style>
    h3, p {
      display: inline;
    }
    p {
      font-size:15px;
    }
  </style>
  <h3>Select a <em>Location Type</em> to display the heatmap at <em>Map Center </em></h3>
  <br>
  <p>Demo limited to only 20 locations</p>
  <h1></h1>
  <div id="root">
    <!-- This div is where our app will run -->
  </div>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA49c2e-kWx5zUhzHdNT7CwPYJ-ojvrtEs&callback=initMap&libraries=places,visualization&v=weekly"
    defer>
  </script>
</body>

<div id="map"></div>

</html>